#popup {
	width: 80%;
	height: 80%;
	max-width: 1000px;
	max-height: 600px;
	padding: 2em;
	border: none;
	background-color: _palette(background);
	color: _palette(secondary);

	&::backdrop {
		@include vendor('backdrop-filter', 'blur(0.5em)');
	}	
}
